<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Candidate">
    <select id="select_count" resultType="int" parameterType="CandidateVO">
         select count(*)from candidate where social_id=#{social_id} AND type=#{type};
    </select>

    <select id="check_vote" parameterType="VoteVO" resultType="int">
        select  count(*) from s_candidate, ns_candidate
        where (s_candidate.social_id=#{social_id} AND s_candidate.candidate_id=#{candidate_id})
        OR ( ns_candidate.social_id=#{social_id} AND ns_candidate.candidate_id=#{candidate_id});
    </select>

    <select id="select_candidate" resultType="CandidateVO" parameterType="int">
        select * from happydaram2.candidate where candidate_id=#{candidate_id};
    </select>
    <select id="select_candidate_list" resultType="CandidateVO" parameterType="int">
        select * from happydaram2.candidate where type=#{type};
    </select>
    <insert id="insert_candidate" parameterType="CandidateVO">
         INSERT INTO `happydaram2`.`candidate` (`social_id`, `type`, `count`, `recommand`, `non_recommand`, `commitment`, `rate`, `picture`, `nickname`, `party_id`)
         VALUES (#{social_id}, #{type}, #{count}, '0', '0', #{commitment}, '0', #{picture}, #{nickname}, #{party_id});    </insert>

    <delete id="delete_candidate" parameterType="CandidateVO">
        DELETE from happydaram2.candidate where candidate_id=#{candidate_id};
    </delete>

<!-- 투표 관련-->
    <!-- 찬성 -->
    <select id="agree" parameterType="int">
        UPDATE `happydaram2`.`candidate` SET recommand = recommand+1 WHERE (`candidate_id` = #{candidate_id});
    </select>

    <!-- 반대 -->
    <select id="disagree" parameterType="int">
        UPDATE `happydaram2`.`candidate` SET non_recommand = non_recommand+1 WHERE (`candidate_id` = #{candidate_id});
    </select>

</mapper>
