<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Comment">

    <select id="select_comment" parameterType="int" resultType="CommentVO">
        SELECT * FROM comment where `comment_id`=#{comment_id};
    </select>

    <insert id="insert_comment" parameterType="CommentVO">
        INSERT INTO `happydaram2`.`comment` (`social_id`,`nickname`,`content`,`article_id`,`candidate_id`)
            VALUES (#{social_id},#{nickname},#{content},#{article_id},#{candidate_id});
    </insert>

    <update id="update_comment_plus" parameterType="int">
        UPDATE happydaram2.article SET comment_size = comment_size+1 WHERE (`article_id` = #{article_id});
    </update>

    <update id="update_comment_minus" parameterType="int">
        UPDATE happydaram2.article SET comment_size = comment_size-1 WHERE (`article_id` = #{article_id});
    </update>

<delete id="delete_comment" parameterType="int">
            DELETE FROM `happydaram2`.`comment` WHERE `comment_id`=#{comment_id};
</delete>

</mapper>