<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Quiz">
    <select id="load_quiz" resultType="QuizDTO">
        select *
        from quiz
        where stageNum = #{stageNum};
    </select>

    <select id="load_word" resultType="WordDTO">
        select *
        from word
        where stage_stageId = (Select stageId from quiz where stageNum = #{stageNum});    </select>


</mapper>
